<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
		<title>second item</title>
		<link rel="stylesheet" type="text/css" href="booking.css"/>
    </head>
    <body>
        <div id="header">
            <h1>Booking</h1>
        </div>
            <div id="item" style="height:800px;width:800px;float:left">
            <img src="/static/scooter4.jpg">
        </div>
        <div id="content">
            <form action="success" method="get">
                <label for="pick-up location">Pick-up location</label>
                <select id="plocation" name="plocation">
                    <option value="AAAA">AAAA</option>
                    <option value="BBBB">BBBB</option>

                </select>
                <label for="return location">Return location</label>
                <select id="rlocation" name="rlocation">
                    <option value="CCCC">CCCC</option>
                    <option value="DDDD">DDDD</option>
                    
                </select>
                <label>
                    <span>Pick-up time</span>
                    <input type="datetime-local" class="measureDate" placeholder="Pick-up time">
                </label>

                <script type="text/javascript">
                    let date = new Date()
                    let yyyy = date.getFullYear()
                    let MM = (date.getMonth() + 1) < 10 ? ("0" + (date.getMonth() + 1)) : (date.getMonth() + 1)
                    let dd = date.getDate() < 10 ? ("0" + date.getDate()) : date.getDate()
                    let HH = date.getHours() < 10 ? ("0" + date.getHours()) : date.getHours()
                    let mm = date.getMinutes() < 10 ? ("0" + date.getMinutes()) : date.getMinutes()

                    let curDay = yyyy + '-' + MM + '-' + dd + 'T' + HH + ':' + mm;
                    $('.measureDate').val(curDay)
                    console.log(date)
                </script>
                <label>
                    <span>Return time</span>
                    <input type="datetime-local" class="measureDate" placeholder="Return time">
                </label>

                <script type="text/javascript">
                    let date = new Date()
                    let yyyy = date.getFullYear()
                    let MM = (date.getMonth() + 1) < 10 ? ("0" + (date.getMonth() + 1)) : (date.getMonth() + 1)
                    let dd = date.getDate() < 10 ? ("0" + date.getDate()) : date.getDate()
                    let HH = date.getHours() < 10 ? ("0" + date.getHours()) : date.getHours()
                    let mm = date.getMinutes() < 10 ? ("0" + date.getMinutes()) : date.getMinutes()

                    let curDay = yyyy + '-' + MM + '-' + dd + 'T' + HH + ':' + mm;
                    $('.measureDate').val(curDay)
                    console.log(date)
                </script>
                <button width:100px;height:20px;backgroud-color:white;>
                    BOOK NOW
                </button>
            </form>
        </div>
    </body>