body{
    background: #ffffff66;
}

.header{
    width: 100%;
    height: 70px;
    border-bottom: 1px solid rgb(0, 0, 0);
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    text-align: center;
    line-height: 72px;


}
.question{
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    text-align:left;
    line-height: 72px;
}
.content{
    width: 100%;
    height: 72px;
}
.stars{
    width: 50%;
    list-style: none;
    margin: 0;
    line-height: 67px;
    color: rgb(0, 0, 0);
    margin-left: 30px;
    float: left;
}
.stars span{
    font-size: 30px;
    margin-left: 10px;
}
.stars span:after{
    content: '☆';
}
.stars .show:after,.stars .show2:after{
    content: '★';
}
.info{
    float: left;
    width: 70px;
    height: 30px;
    background: #000000;
    border-radius: 5px;
    color: #fff;
    margin-top: 21px;
    text-align: center;
    line-height: 30px;
    display: none;
}
.tips{
    width: 100%;
    height: 58px;
    color: rgb(0, 0, 0);
    line-height: 58px;
    text-align: center;
}
.show {
        color: #ff0000;
    }
.show2{
    color: #000000; 
}