<!-- base html file to be extended by other html files -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Base page for the project</title>
    <!-- meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/index.js"></script>
  </head>

  <body>
    <div>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>