<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>SCOOTERS BOOKING</title>
<link href="/static/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h1>Booking Page</h1>
    <p>
        <img src="/static/scooter2.jpg" width="1690" height="770";>
    </p>
    <h2>- HOT RENT SCOOTERS</h2>
    <div class="responsive">
        <div class="img">
            <a target="_blank" href="scooter3.jpg">
                <img src="/static/scooter3.jpg" width="800px" height="800px">
            </a>
            <div class="desc">1</div>
        </div>
    </div>
    <div class="responsive">
        <div class="img">
            <a target="_blank" href="/static/scooter4.jpg">
                <img src="/static/scooter4.jpg" width="800px" height="800px">
            </a>
            <div class="desc">2</div>
        </div>
    </div>

    <div>
        <form action="/action_page.php">
          <label for="fname">First Name</label>
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
      
          <label for="lname">Last Name</label>
          <input type="text" id="lname" name="lastname" placeholder="Your last name..">
      
          <label for="country">City</label>
          <select id="city" name="city">
            <option value="Leeds">Leeds</option>
            <option value="York">York</option>
            <option value="Manchester">Manchester</option>
          </select>

          <label for="date">Rent date</label>
          <input type="text" id="date" name="rentdate" placeholder="DD/MM/YYYY">
        
          <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>