{% extends "base.html" %}
{% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}.</a>.
        </div>
    {% endif %}
    {% endwith %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<table>
    <h1>Scooter income report</h1>
    <thead>
        <tr>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Total
            </td>
            <td>
                {{total_income}}
            </td>
        </tr>
        </tr>
    </tbody>
    </table>
    <canvas id="myChart" style="width:80%;height:400px;"></canvas>
    <form action="/price_view" method=POST name="date">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        {{ form.csrf }}
        <script>genChart('{{income_DateAr}}', '{{income_Ar}}', '{{final_date}}'); </script>
        <select id="viewType" name="viewType" onchange = "changeView()" >
            <option value="Weekly">Weekly</option>
            <option value="Monthly">Monthly</option>
            <option value="Yearly">Year</option>
        </select>
        <table>
            <tr id = "dayC">
                <td>day:
                </td>
                <td>
                    <input id = "day" type="day" name="day" value="{{day}}">
                </td>
            </tr>
            <tr id = "monthC">
                <td>month:
                </td>
                <td>
                    <input id = "month" type="month" name="month" value="{{month}}">
                </td>
            </tr>
            <tr id = "yearC">
                <td>year:</td>
                <td><input id = "year" type="year" name="year" value="{{year}}"></td>
            </tr>
            <tr>
                <td>
                <button>submit</button>
                </td>
            </tr>
        </table>
        <script>
            document.querySelector('#viewType').value = '{{viewType}}';
            changeView();
            if ("{{valid}}" == "False") {
                alert("Invalid date entered");
            }
        </script>
    </form>
    <script></script>
{% endblock %}
