{% extends "base.html" %}

{% block content %}

        <h1>your account</h1>
        <table border="1" width="500px" height="500px">
            <tr>
                <td>
                    first name:
                </td>
            </tr>
			<tr>
                <td>
                    last name:
                </td>
            </tr>
			<tr>
                <td>
                    phone number:
                </td>
            </tr>
            <tr>
                <td>
                    e-mail:
                </td>
            </tr>
            <tr>
                <td>
                    password:
                </td>
            </tr>		
        </table>
{% endblock %}