{% extends "base.html" %}

{% block content %}

        <h1>
            Profile
        </h1>
        <h2>
            Welcome {{name}}!
        </h2>
        {% if current_user.is_authenticated %}
        <p class="nav-item", id="logoutAction">
            <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
        </p>
        <p>
            <a class="nav-link" href="{{url_for('feedback')}}">Leave feedback</a>
        </p>
        {% endif %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}.</a>.
            </div>
        {% endif %}
        {% endwith %}
        <table >
            <h3>Your bookings</h3>
            <thread>
                <tr>
                    <th>Booking ID</th>
                    <th>Location</th>
                    <th>Duration</th>
                    <th>Price</th>
                    <th>Date</th>
                </tr>
            </thread>
            <tbody>
            {% for i in range(Bookings | length) %}
            <tr>
                    <td>{{Bookings[i].id}}</td>
                    <td>{{Scooters[i].location}}</td>
                    <td>
                        {% if Prices[i].duration == 1 %}
                        1 hour
                        {% elif Prices[i].duration == 4 %}
                        4 hour
                        {% elif Prices[i].duration == 24 %}
                        1 day
                        {% elif Prices[i].duration == 168 %}
                        1 week
                        {% endif %}
                    </td>
                    <td>{{Prices[i].cost}}</td>
                    <td>{{Bookings[i].datetime}}</td>
                    <td><a href="/cancel_booking/{{Bookings[i].id}}"><button type="button">Cancel</button></a></td>
            </tr>
            {% endfor %}
        </table>
{% endblock %}
