{% extends "base.html" %}

{% block content %}
<h1>Staff</h1>
<table>

    <thread>
        <tr>
            <th>Scooter ID</th>
            <th>Price</th>
            <th>Location</th>
            <th>Available</th>
            <th></th>
        </tr>
    </thread>
    <tbody>
    {% for scooter in Scooters %}
    <tr>
            <td>{{scooter.id}}</td>
            <td>{{scooter.}}</td>
            <td>{{scooter.location}}</td>
            <td>{{scooter.available}}</td>
            <td><a href="/config_scooter/{{scooter.id}}"><button type="button">Configure</button></a></td>           
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}