{% extends "base.html" %}

{% block content %}
<h1>Staff</h1>
{% if current_user.is_authenticated %}
<p class="nav-item", id="logoutAction">
    <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
</p>

{% endif %}
<h2>All feedback</h2>
<button onclick="location.href='/staff'">Staff</button>
<table >
<thread>
    <tr>
        <th>Feedback ID</th>
        <th>Username</th>
        <th>Comment</th>
        <th>Priority</th>
    </tr>
</thread>
<tbody>
    {% for i in range(Comments | length) %}
    <tr>
            <td>{{Comments[i].id}}</td>
            <td>{{Users[i].username}}</td>
            <td>{{Comments[i].comments}}</td>
            <td>{{Comments[i].priority}}</td>

            
    </tr>
    {% endfor %}


<table >

{% endblock %}
